temp_extract/*

__pycache__/

# Ignore all zip files
*.zip

# Ignore all csv files
*.csv

# Ignore all json files
*.json
*.xlsx
*.xls

# Ignore all txt files
*.txt

# Ignore all log files
.DS_Store

# Ignore all venv files
.venv/

node_modules