temp_extract/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Ignore all zip files
*.zip

# Ignore all csv files
*.csv

# Ignore all json files
*.json
*.xlsx
*.xls

# Ignore all txt files
*.txt

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Ignore all venv files
.venv/
.env/

# Conda
.conda/

node_modules